@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */
#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)), url(assets/img/header.png);
    color: #FFF;
}

#header input, span {
    display: none;
}

#header nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #0000008a;
}

#header nav .logo {
    font-size: 28px;
}

#header nav ul {
    display: flex;
    align-items: center;
}

#header nav ul li {
    list-style: none;
    margin: 0 10px;
}

#header nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
}

#header nav ul li a:hover {
    color: rgb(15, 149, 15);
}

#header nav ul li button {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(15, 149, 15);
    border: none;
    border-radius: 5px;
}

#header nav ul li button:hover {
    color: rgb(206, 206, 206);
    background-color: rgb(6, 104, 6);
}

#header .text-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    text-align: center;
}
/* End Header */

/* Budaya */
#budaya {
    text-align: center;
    margin-top: 10%;
}

#budaya img {
    width: 98%;
    border-radius: 5px;
}

#budaya .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#budaya .container div {
    width: 40%;
    font-size: 16px;
    padding: 15px;
    border-radius: 12px;
    background-color:rgb(176, 255, 173);
    margin-top: 30px;
    margin-right: 40px;
    transform: scale(1);
    transition: ease-in-out .3s;
}

#budaya .container div:hover {
    transform: scale(1.1);
}

#budaya button {
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(15, 149, 15);
    color: #FFF;
    margin-top: 10px;
}

#budaya button:hover {
    background-color: rgb(12, 187, 12);
    cursor: pointer;
}
/* End Budaya */

/* Fasilitas */
#fasilitas {
    margin-top: 10%;
    padding: 0 20px;
    text-align: center;
}

#fasilitas h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#fasilitas img {
    width: 98%;
    border-radius: 5px;
}

#fasilitas .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#fasilitas .container div {
    width: 40%;
    font-size: 16px;
    padding: 15px;
    border-radius: 12px;
    background-color:rgb(157, 212, 155);
    margin-right: 20px;
    margin-bottom: 30px;
}

#fasilitas div:hover {
}
/* End Fasilitas */

/* Wisata */
#wisata {
    text-align: center;
    padding: 0 20px;
    margin-top: 10%;
}

#wisata img {
    width: 98%;
    border-radius: 5px;
}

#wisata .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#wisata .container div {
    width: 40%;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color:rgb(176, 255, 173);
}

#wisata div:hover {
}

#wisata button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: 600;
    margin-top: 10px;
    background-color: rgb(15, 149, 15);
}

#wisata button:hover {
    background-color: rgb(12, 187, 12);
    cursor: pointer;
}
/* End Wisata */

/* About */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin-top: 10%;
}

#about h2 {
    margin-bottom: 20px;
}
/* End About */

/* Feedback */
#feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    padding: 0 10%;
}

#feedback .container {
    background: rgb(176, 255, 173);
    width: 100%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

#feedback .container .cover-photo {
    background-image: url(assets/img/solo-safari1.jpg);
    height: 150px;
    width: 100%;
}

#feedback .container .cover-photo .pp {
    background-color: #c5b3b3;
    height: 120px;
    width: 120px;
    border: 5px solid rgb(176, 255, 173);
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 20px;
}

#feedback .container .person-detail {
    text-align: left;
    margin-left: 150px;
}

#feedback .container .name {
    margin-top: 5px;
    font-weight: 600;
}

#feedback .container .jabatan {
    font-size: 12px;
}

#feedback .container .msg {
    text-align: left;
    padding: 0 20px;
    margin: 20px 0;
}
/* End Feedback */

/* Footer */
#footer {
    text-align: center;
    margin-top: 20%;
    padding: 20px 10%;
    background-color: rgb(176, 255, 173);
}

#footer .location-phone {
    text-align: left;
    margin-bottom: 50px;
}

#footer .for .by img {
    width: 20px;
    margin: 3px;
}

#footer .for .by {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Footer */

/* For Mobile * Tablets */
@media (max-width: 768px) {
    /* Header */
    #header {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)), url(assets/img/header.png);
        background-position: 30%;
        background-size: cover;
    }
    #header .logo h1 {
        color: #FFF;
        font-size: 22px;
        margin-left: 20px;
    }

    #header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        background-color: #00000079;
        overflow: hidden;
        position: fixed;
        z-index: 999;
    }
    
    #header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 100%;
        position: fixed;
        top: 0px;
        right: -100%;
        background: #000000da;
        transition: all .5s;
    }

    #header nav ul li {
        margin: 20px 0;
    }

    #header nav ul li a:hover {
        cursor: pointer;
    }

    #check:checked ~ ul {
        right: 0;
    }

    #check:checked ~ label {
        position: fixed;
        z-index: 990;
        right: 0;
    }

    #check:checked ~ label span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 4px)
    }

    #check:checked ~ label span:nth-child(2) {
        transform: scale(0);
    }

    #check:checked ~ label span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -3px);
    }

    #header nav label {
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    #header nav label span {
        display: block;
        height: 3px;
        width: 25px;
        margin-right: 20px;
        background: #fff;
    }

    #header nav input {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 24px;
        right: 18px;
        opacity: 0;
    }

    #header .text-center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
    }

    #header .text-center h2 {
        font-size: 36px;
        text-shadow: 0px 0px 25px #000;
    }
    /* End Header */

    
    /* Budaya */
    #budaya {
        padding: 0 20px;
        text-align: center;
    }

    #budaya h2 {
        margin-top: 10%;
        margin-bottom: 20px;
    }

    #budaya .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #budaya img {
        width: 98%;
        border-radius: 5px;
    }
    
    #budaya .container div {
        width: 45%;
        background-color: rgb(176, 255, 173);
        font-size: 16px;
        padding: 15px;
        border-radius: 12px;
    }

    #budaya button {
        font-weight: 600;
        padding: 8px;
        border: none;
        border-radius: 5px;
        background-color: rgb(15, 149, 15);
        color: #FFF;
        margin-top: 10px;
    }

    #budaya button:hover {
        background-color: rgb(12, 187, 12);
        cursor: pointer;
    }
    /* End Budaya */

    /* Fasilitas */
    #fasilitas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        padding: 0 20px;
        text-align: center;
    }

    #fasilitas h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    #fasilitas img {
        width: 98%;
        border-radius: 5px;
    }

    #fasilitas .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #fasilitas .container div {
        width: 45%;
        font-size: 16px;
        padding: 15px;
        border-radius: 12px;
        background-color:rgb(157, 212, 155);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    #fasilitas div:hover {
        zoom: 1.1;
    }
    /* End Fasilitas */

    /* Wisata */
    #wisata {
        text-align: center;
        padding: 0 20px;
    }

    #wisata img {
        width: 98%;
        border-radius: 5px;
    }

    #wisata .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #wisata .container div {
        width: 45%;
        padding: 15px;
        border-radius: 12px;
        margin-bottom: 30px;
        margin-right: 20px;
        background-color:rgb(176, 255, 173);
    }

    #wisata div:hover {
        zoom: 1.1;
    }

    #wisata button {
        padding: 8px;
        border: none;
        border-radius: 5px;
        color: #FFF;
        font-weight: 600;
        margin-top: 10px;
        background-color: rgb(15, 149, 15);
    }

    #wisata button:hover {
        background-color: rgb(12, 187, 12);
        cursor: pointer;
    }
    /* End Wisata */

    /* About */
    #about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        margin-top: 10%;
    }

    #about h2 {
        margin-bottom: 20px;
    }
    /* End About */

    /* Feedback */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        padding: 0 10%;
    }
    
    #feedback .container {
        background: rgb(176, 255, 173);
        width: 100%;
        border-radius: 8px;
        text-align: center;
        position: relative;
        margin-top: 10px;
    }
    
    #feedback .container .cover-photo {
        background-image: url(assets/img/solo-safari1.jpg);
        height: 150px;
        width: 100%;
    }
    
    #feedback .container .cover-photo .pp {
        background-color: #c5b3b3;
        height: 120px;
        width: 120px;
        border: 5px solid rgb(176, 255, 173);
        border-radius: 50%;
        position: absolute;
        top: 90px;
        left: 20px;
    }
    
    #feedback .container .person-detail {
        text-align: left;
        margin-left: 150px;
    }
    
    #feedback .container .name {
        margin-top: 5px;
        font-weight: 600;
    }
    
    #feedback .container .jabatan {
        font-size: 12px;
    }
    
    #feedback .container .msg {
        text-align: left;
        padding: 0 20px;
        margin: 20px 0;
    }
    /* End Feedback */

    /* Footer */
    #footer {
        text-align: center;
        margin-top: 20%;
        padding: 20px 10%;
        background-color: rgb(176, 255, 173);
    }

    #footer .location-phone {
        text-align: left;
        margin-bottom: 50px;
    }

    #footer .for .by img {
        width: 20px;
        margin: 3px;
    }

    #footer .for .by {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* End Footer */
}

/* For Mobile */
@media (max-width: 480px) {
    #budaya .container div {
        width: 80%;
    }

    #fasilitas .container div {
        width: 80%;
    }

    #wisata .container div {
        width: 80%;
    }
}